.forgot-link {
  cursor: pointer;        /* hace que aparezca la manita */
  color: var(--ion-color-primary); /* opcional, azul como link */
  text-decoration: underline;      /* opcional, subrayado */
}
