<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add House</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- House number input -->
  <ion-item>
    <ion-label position="stacked">House Number</ion-label>
    <ion-input [(ngModel)]="newHouse.number"></ion-input>
  </ion-item>

  <!-- User search bar -->
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="filterUsers()" 
    placeholder="Search user..."
    debounce="300"
    animated>
  </ion-searchbar>

  <!-- Optimized user list -->
  <ion-list>
    <ion-radio-group [(ngModel)]="newHouse.userId">  <!-- store selected user ID in newHouse.userId -->

      <ion-list-header>
        <ion-label>Assign to User</ion-label>
      </ion-list-header>

      <!-- Virtual scroll for performance -->
      <ion-list style="max-height: 300px; overflow-y: auto;">
        <ion-item *ngFor="let user of filteredUsers">
          <ion-label>{{ user.name }} ({{ user.email }})</ion-label>
          <ion-radio slot="start" [value]="user.id"></ion-radio>
        </ion-item>
      </ion-list>

    </ion-radio-group>
  </ion-list>

  <!-- Active/inactive toggle -->
  <ion-item lines="none">
    <ion-label>Active House</ion-label>
    <ion-toggle [(ngModel)]="newHouse.active"></ion-toggle>
  </ion-item>

  <!-- Save button -->
  <ion-button expand="block" color="success" (click)="save()" [disabled]="!formValid">
    <ion-icon slot="start" name="checkmark"></ion-icon>
    Save
  </ion-button>
</ion-content>
