<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div *ngFor="let msg of messages">
      <div
        [class.my-msg]="msg.fromUserRef?.id === currentUid"
        [class.other-msg]="msg.fromUserRef?.id !== currentUid"
      >
        {{ msg.message }}
      </div>
    </div>
  </div>

  <div class="chat-input">
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje..."></ion-input>
    <ion-button (click)="send()" color="primary">Enviar</ion-button>
  </div>
</ion-content>
